body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:182px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:32px;
  width:129px;
  height:45px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u214 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u214_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:98px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:154px;
  width:57px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u216 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u216_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:224px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 6px 10px rgba(0, 0, 0, 0.137254901960784);
  -webkit-box-shadow:0px 6px 10px rgba(0, 0, 0, 0.137254901960784);
  box-shadow:0px 6px 10px rgba(0, 0, 0, 0.137254901960784);
}
#u218 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:189px;
  width:280px;
  height:224px;
  display:flex;
}
#u218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:224px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 1px 18px rgba(0, 0, 0, 0.117647058823529);
  -webkit-box-shadow:0px 1px 18px rgba(0, 0, 0, 0.117647058823529);
  box-shadow:0px 1px 18px rgba(0, 0, 0, 0.117647058823529);
}
#u219 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:189px;
  width:280px;
  height:224px;
  display:flex;
}
#u219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:224px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 3px 5px rgba(0, 0, 0, 0.2);
}
#u220 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:189px;
  width:280px;
  height:224px;
  display:flex;
}
#u220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u222 label {
  left:0px;
  width:100%;
}
#u222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:258px;
  width:165px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u222 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u222_img.selected {
}
#u222.selected {
}
#u222_img.disabled {
}
#u222.disabled {
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:149px;
  word-wrap:break-word;
  text-transform:none;
}
#u222_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u223 label {
  left:0px;
  width:100%;
}
#u223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:224px;
  width:100px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u223 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u223_img.selected {
}
#u223.selected {
}
#u223_img.disabled {
}
#u223.disabled {
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u223_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u224 label {
  left:0px;
  width:100%;
}
#u224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:292px;
  width:165px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u224 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u224_img.selected {
}
#u224.selected {
}
#u224_img.disabled {
}
#u224.disabled {
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:149px;
  word-wrap:break-word;
  text-transform:none;
}
#u224_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u225 label {
  left:0px;
  width:100%;
}
#u225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:326px;
  width:137px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u225 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u225_img.selected {
}
#u225.selected {
}
#u225_img.disabled {
}
#u225.disabled {
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:121px;
  word-wrap:break-word;
  text-transform:none;
}
#u225_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:375px;
  width:90px;
  height:27px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u226 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:218px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 16px 24px rgba(0, 0, 0, 0.137254901960784);
  -webkit-box-shadow:0px 16px 24px rgba(0, 0, 0, 0.137254901960784);
  box-shadow:0px 16px 24px rgba(0, 0, 0, 0.137254901960784);
}
#u228 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:83px;
  width:299px;
  height:218px;
  display:flex;
}
#u228 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:218px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 6px 30px rgba(0, 0, 0, 0.117647058823529);
  -webkit-box-shadow:0px 6px 30px rgba(0, 0, 0, 0.117647058823529);
  box-shadow:0px 6px 30px rgba(0, 0, 0, 0.117647058823529);
}
#u229 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:83px;
  width:299px;
  height:218px;
  display:flex;
}
#u229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:218px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 8px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 8px 10px rgba(0, 0, 0, 0.2);
  box-shadow:0px 8px 10px rgba(0, 0, 0, 0.2);
}
#u230 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:83px;
  width:299px;
  height:218px;
  display:flex;
}
#u230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:118px;
  width:97px;
  height:45px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u231 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u231_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(51, 51, 51, 0.764705882352941);
}
#u232 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:141px;
  width:93px;
  height:20px;
  display:flex;
  color:rgba(51, 51, 51, 0.764705882352941);
}
#u232 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u232_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u233 label {
  left:0px;
  width:100%;
}
#u233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:189px;
  width:100px;
  height:15px;
  display:flex;
}
#u233 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u233_img.selected {
}
#u233.selected {
}
#u233_img.disabled {
}
#u233.disabled {
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u233_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u234 label {
  left:0px;
  width:100%;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:189px;
  width:100px;
  height:15px;
  display:flex;
}
#u234 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u234_img.selected {
}
#u234.selected {
}
#u234_img.disabled {
}
#u234.disabled {
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u234_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u235 label {
  left:0px;
  width:100%;
}
#u235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:189px;
  width:100px;
  height:15px;
  display:flex;
}
#u235 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u235_img.selected {
}
#u235.selected {
}
#u235_img.disabled {
}
#u235.disabled {
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u235_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u236 label {
  left:0px;
  width:100%;
}
#u236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:189px;
  width:100px;
  height:15px;
  display:flex;
}
#u236 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u236_img.selected {
}
#u236.selected {
}
#u236_img.disabled {
}
#u236.disabled {
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u236_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u237 label {
  left:0px;
  width:100%;
}
#u237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:189px;
  width:100px;
  height:15px;
  display:flex;
}
#u237 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u237_img.selected {
}
#u237.selected {
}
#u237_img.disabled {
}
#u237.disabled {
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u237_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:244px;
  width:106px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
