.ax_default {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.image {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
.heading_1 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.text_field {
  color:#000000;
  text-align:left;
}
.flow_shape {
}
.box_1 {
}
.checkbox {
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.radio_button {
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.paragraph1 {
  text-align:left;
}
.box_3 {
}
.horizontal_line {
}
.text_button {
  color:#02A7F0;
}
._contained_button {
  color:#FFFFFF;
}
._helper_text {
  font-size:12px;
  color:rgba(0, 0, 0, 0.6);
  text-align:left;
}
._label {
}
.dialog_bg {
}
.icon {
}
.box_2 {
}
.shape {
}
.line {
}
.refs-image-colorful {
}
textarea, select, input, button { outline: none; }
