.cardbox{
    position: absolute;
    margin-top: 100px;
    width: 600px;
    left: 50%;
    margin-left: -300px;
}
.divider{
    min-height: 20;
}
body{
    background-color: #CCCCCC;
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}
}
